[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Name[es_ES]=OpenBOR
Icon=OpenBOR
Icon[es_ES]=OpenBOR
Comment[es_ES]=Open Beats of Rage
Exec=/opt/games/OpenBOR/OpenBOR
Path=/opt/games/OpenBOR/
Name=OpenBOR
Comment=Open Beats of Rage
